<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindsortlabs.biddingtictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".BoardPlayCPUNormalActivity" />
        <activity android:name=".DrawingPlayCPUNormalActivity" />
        <activity android:name=".DecideGameActivity" />
        <activity android:name=".DecidePlayOptionsNormalActivity" />
        <activity android:name=".DecidePlayOptionsBiddingActivity" />
        <activity android:name=".BoardPlay2PlayerNormalActivity" />
        <activity android:name=".DrawingPlay2PlayerNormalActivity" />
        <activity android:name=".BoardPlay2PlayerBiddingActivity" />
        <activity android:name=".BoardPlayCPUBiddingActivity" />
        <activity android:name=".DrawingPlay2PlayerBiddingActivity" />
        <activity android:name=".DrawingPlayCPUBiddingActivity" />
        <activity android:name=".custom.BoardChooser" />
        <activity android:name=".custom.TwoPlayerCustom"
            android:theme="@style/NoActionBar"
            ></activity>
    </application>

</manifest>