<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindsortlabs.biddingtictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/btic_icon"
        android:label="@string/app_name"
        android:manageSpaceActivity=".DataClearDisableActivity"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoardPlayCPUNormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawingPlayCPUNormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DecideGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DecidePlayOptionsNormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DecidePlayOptionsBiddingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoardPlay2PlayerNormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawingPlayCPUNormalActivityExtra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoardPlay2PlayerBiddingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoardPlayCPUBiddingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawingPlay2PlayerBiddingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawingPlayCPUBiddingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.BoardChooser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".custom.TwoPlayerCustom"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity android:name=".DataClearDisableActivity" />
        <activity android:name=".InstructionActivity"></activity>
    </application>

</manifest>